.container.contryList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
  margin-top: 32px;
}

.loadMore {
  width: 146px;
  height: 48px;
  display: block;
  margin: 0 auto;
  margin-top: 45px;

  font-family: Noto Sans;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  background: #3c3c3c;
  color: white;
}

@media (max-width: 1075px) {
  .container.contryList {
    column-gap: 100px;
  }
}

@media (max-width: 750px) {
  .container.contryList {
    grid-template-columns: 1fr;
    column-gap: 0;
  }
}
