.imageSlider {
  width: 807px;
  height: 498px;
  border-width: 2px;
  position: relative;
  border: 2px solid #3D3D3D;
  background: #F0F0F0;

}

.imageSlider img {
  width: 120px;
  height: 120px;
  border-radius: 16px;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
}

.imageSlider .image-slider-icons{
    display: flex;
    align-items: center;
    padding: 2px 4px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.circle-icon{
    margin-right: 4px;
    color: #fff
}

.circle-icon:first-child{
    color: black;
}


@media (max-width: 1075px) {
  .imageSlider {
  width: 490px;
  height: 498px;}
}

@media (max-width:750px) {
   .imageSlider {
  width: unset;
  height: 196px;
}
}